################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/googleOSD/googleOSD/.vs/googleOSD/v15/Server/sqlite3/db.lock
/googleOSD/googleOSD/googleOSD/Properties/DataSources/EventList.datasource
/googleOSD/googleOSD/googleOSD/Properties/DataSources/SceduleModel.datasource
/googleOSD/googleOSD/googleOSD/Properties/DataSources/t_project_base.datasource
uitest/WebTest/WebTest2/WebTest2/bin/Debug/Microsoft.Toolkit.Wpf.UI.Controls.WebView.xml
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.config
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/CrashpadMetrics-active.pma
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Last Browser
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Last Version
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Local State
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Ad Blocking/blocklist
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/BrowserMetrics/BrowserMetrics-5FDAEF84-18B30.pma
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Crashpad/metadata
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Crashpad/settings.dat
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Crashpad/throttle_store.dat
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cookies
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cookies-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Favicons
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Favicons-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/heavy_ad_intervention_opt_out.db
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/heavy_ad_intervention_opt_out.db-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/History
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/History Provider Cache
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/History-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Login Data
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Login Data-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Media History
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Media History-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Network Action Predictor
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Network Action Predictor-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Network Persistent State
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Preferences
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/previews_opt_out.db
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/previews_opt_out.db-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/QuotaManager
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/QuotaManager-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/README
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Reporting and NEL
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Reporting and NEL-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Secure Preferences
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Shortcuts
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Shortcuts-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Top Sites
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Top Sites-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/TransportSecurity
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Visited Links
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Web Data
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Web Data-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/BudgetDatabase/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/BudgetDatabase/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/BudgetDatabase/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/BudgetDatabase/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/data_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/data_1
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/data_2
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/data_3
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000002
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000003
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000004
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000005
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000006
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000007
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000008
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000009
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00000a
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00000b
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00000c
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00000d
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00000e
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00000f
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000010
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000011
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000012
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000013
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000014
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000015
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000016
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000017
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000018
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_000019
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00001a
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00001b
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00001c
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/f_00001d
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Cache/index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/169882f2af9e868c_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/18acdcd3183ef052_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/22fb0e1969c285c1_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/2ee6855add167e9b_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/31d6dc5f2dccfec6_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/39933337e588e783_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/3b99dc3d3bc104fb_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/47ace099d1a5acb2_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/56777bdc994acf2c_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/604cd94e827d3225_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/6b848a87f40dd230_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/72090e93af2b3d0c_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/79ee1e920e9609ed_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/9389c850ba32c67a_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/95a7a2150ba8d9df_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/9f511179fec9aa7a_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/a39fd323b80a38ff_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/c58407deb2d506f4_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/c90e155be8d04e4d_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/ce001dac07dafe72_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/d187fa753e1e44a8_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/e080674af345915e_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/eb6b813aa003867a_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/f3c4e7918a21c412_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/fbc80b40e8dab5e0_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/js/index-dir/the-real-index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/wasm/index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Code Cache/wasm/index-dir/the-real-index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/data_reduction_proxy_leveldb/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/data_reduction_proxy_leveldb/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/data_reduction_proxy_leveldb/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/data_reduction_proxy_leveldb/MANIFEST-000002
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/databases/Databases.db
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/databases/Databases.db-journal
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/EdgePushStorageWithConnectTokenAndKey/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/EdgePushStorageWithConnectTokenAndKey/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Extension State/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Extension State/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Extension State/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Extension State/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/GPUCache/data_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/GPUCache/data_1
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/GPUCache/data_2
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/GPUCache/data_3
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/GPUCache/index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_lpcdn.lpsnmedia.net_0.indexeddb.leveldb/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_lpcdn.lpsnmedia.net_0.indexeddb.leveldb/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_lpcdn.lpsnmedia.net_0.indexeddb.leveldb/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_lpcdn.lpsnmedia.net_0.indexeddb.leveldb/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_www.microsoft.com_0.indexeddb.leveldb/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_www.microsoft.com_0.indexeddb.leveldb/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_www.microsoft.com_0.indexeddb.leveldb/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/IndexedDB/https_www.microsoft.com_0.indexeddb.leveldb/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Local Storage/leveldb/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Local Storage/leveldb/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Local Storage/leveldb/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Local Storage/leveldb/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Platform Notifications/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Platform Notifications/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Platform Notifications/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Platform Notifications/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Session Storage/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Session Storage/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Session Storage/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Session Storage/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Sessions/Tabs_13252657288300538
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/shared_proto_db/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/shared_proto_db/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Site Characteristics Database/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Site Characteristics Database/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Site Characteristics Database/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Site Characteristics Database/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/CURRENT
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/LOCK
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/LOG
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/MANIFEST-000001
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/GrShaderCache/GPUCache/data_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/GrShaderCache/GPUCache/data_1
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/GrShaderCache/GPUCache/data_2
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/GrShaderCache/GPUCache/data_3
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/GrShaderCache/GPUCache/index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/ShaderCache/GPUCache/data_0
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/ShaderCache/GPUCache/data_1
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/ShaderCache/GPUCache/data_2
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/ShaderCache/GPUCache/data_3
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/ShaderCache/GPUCache/index
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/local/cache
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/local/download_cache
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/local/warnStateCache
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/remote/edgeSettings
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/remote/edgeSettings_2.0-2f9188b68640dbf72295f9083a21d674a314721ef06f82db281cbcb052ff8ec1
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/remote/synchronousLookupUris
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/remote/synchronousLookupUris_637437761237665605
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/remote/topTraffic
uitest/WebTest/WebTest2/WebTest2/bin/Debug/WebTest2.exe.WebView2/EBWebView/SmartScreen/remote/topTraffic_637429101903046133
uitest/CS_CalcTest/CS_CalcTest/.vs/CS_CalcTest/v15/Server/sqlite3/db.lock
uitest/CS_CalcTest/CS_CalcTest/.vs/CS_CalcTest/v15/Server/sqlite3/storage.ide
uitest/CS_CalcTest/CS_CalcTest/.vs/CS_CalcTest/v15/Server/sqlite3/storage.ide-shm
uitest/CS_CalcTest/CS_CalcTest/.vs/CS_CalcTest/v15/Server/sqlite3/storage.ide-wal
