<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <WpfApp1.Properties.Settings>
            <setting name="CalcTextShowX" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcTextShowY" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcTextFontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcTexWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcTextDLogTitol" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcWindowWidthStr" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcWindowHeightStr" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcResult" serializeAs="String">
                <value />
            </setting>
            <setting name="設定" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcVer" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfApp1.Properties.Settings>
    </userSettings>
</configuration>